<li id="section-{{ section.id }}" data-parent-id="{{ section.parent.id }}">
    <div class="section-item">
        <div class="id">{{ section.id }}</div>
        <div class="data">
            <span class="title">{{ section.title }}</span>
            <span class="content">{{ section.content }}</span>
        </div>
        <div class="button-wrapper">
            <button class="edit-btn" data-id="{{ section.id }}" data-action="edit"></button>
            <button class="add-btn" data-id="{{ section.id }}" data-action="add-child"></button>
            <button class="delete-btn" data-id="{{ section.id }}" data-action="delete"></button>
        </div>
    </div>

    {% if section.children is not empty %}
        <ul id="child-list">
            {% for child in section.children %}
                {% include 'components/_section.html.twig' with {'section': child} %}
            {% endfor %}
        </ul>
    {% endif %}
</li>